<section class="p-20 flex">
    
    <div class="mt-10 p-4 border w-70 mx-auto rounded-lg">
        <p class="font-semibold"> Service: </p>
        <p class="font-normal text-gray-600"> Description:</p>
        <p class="font-normal text-gray-600"> Category:  </p>

        <div class="mt-2">
            <p class="font-semibold">Provider: </p> 
            <p class="font-normal text-gray-600">Bio: </p>
            <p>Rate:  Nu. /-</p>
        </div>
    </div>

   <form class="border p-4 rounded-lg w-fit space-y-3 mx-auto">

  <div>
    <label class="block font-medium">Address:</label>
    <input type="text" name="address" class="border rounded-lg p-1 w-60" />
  </div>

  <div>
    <label class="block font-medium">Day:</label>
    <select name="day" class="border rounded-lg p-1 w-60">
      <option value="hidden">Select weekday</option>  
      <option value="monday">Monday</option>
      <option value="tuesday">Tuesday</option>
      <option value="wednesday">Wednesday</option>
      <option value="thursday">Thursday</option>
      <option value="friday">Friday</option>
      <option value="saturday">Saturday</option>
      <option value="sunday">Sunday</option>
    </select>
  </div>

  <div>
    <label class="block font-medium">Contact No:</label>
    <input type="number" name="contact" class="border rounded-lg p-1 w-60" />
  </div>

  <div>
    <label class="block font-medium">Email:</label>
    <input type="email" name="email" class="border rounded-lg p-1 w-60" />
  </div>

  <div>
    <label class="block font-medium">TotalAmount:</label>
   <input type="number" name="email" class="border rounded-lg p-1 w-60"/>
  </div>

  <button type="submit" class="w-full bg-black  border border-white text-white px-4 py-2 rounded-lg font-semibold text-lg transition-all duration-200 shadow-lg hover:shadow-xl transform hover:-translate-y-0.5 hover:bg-gradient-to-br from-indigo-800  via-black to-indigo-800 hover:cursor-pointer">
    Pay
  </button>

</form>
</section>