<section>
    <div class="h-[55vh] bg-[#121e30] flex flex-col justify-center">
        <div class="max-w-4xl mx-auto text-center space-y-10">
            <p class="text-4xl text-white font-bold relative after:absolute after:left-0 after:right-0 after:-bottom-5 after:h-0.5 after:w-full after:bg-gray-500">About Us</p>
            <p class="text-xl font-normal text-white">Welcome to ServiceHub, the all-in-one digital platform where people can discover, compare, and book services with trusted providers — all in just a few clicks. We bring together skilled service providers and clients who need reliable help, creating a simple and efficient way for both to connect and grow. Whether you need home repair, cleaning, beauty care, or tech support — we make finding and booking the right service fast and easy.</p>
        </div>
    </div>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 px-[10%] py-20">
        <div class="bg-[#f8f8f8] dark:bg-gray-800 border border-gray-500 dark:border-gray-700 shadow-md rounded-r-xl p-5 space-y-4 relative after:absolute after:left-0 after:right-0 after:bottom-0 after:h-full after:w-1 after:bg-gray-500">
            <div class="space-y-2 relative">
                <.icon name="hero-rocket-launch" class="size-10 ml-4"/>
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white after:absolute after:left-0 after:right-0 after:bottom-0 after:h-full after:w-2 after:bg-gray-500 ml-4">Our Mission</h2>
            </div>
    
            <p class="text-md text-gray-700 dark:text-gray-300 mb-2 fill-[var(--color-base-300)] dark:fill-[var(--color-base-300)]  ml-4">
            We aim to empower service providers to showcase their skills, grow their income, and build lasting client relationships — while helping customers save time and enjoy top-notch service experiences.
            </p>
        </div>
    
        <div class="bg-[#f8f8f8] dark:bg-gray-800 border border-gray-500 dark:border-gray-700 shadow-md rounded-r-xl p-5 space-y-4 relative after:absolute after:left-0 after:right-0 after:bottom-0 after:h-full after:w-1 after:bg-gray-500">
            <div class="space-y-2 relative">
                <.icon name="hero-light-bulb" class="size-10 ml-4"/>
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white after:absolute after:left-0 after:right-0 after:bottom-0 after:h-full after:w-2 after:bg-gray-500 ml-4">Our Vision</h2>
            </div>
    
            <p class="text-md text-gray-700 dark:text-gray-300 mb-2 ml-4">
                To become the most trusted and convenient service marketplace, helping individuals and professionals connect, collaborate, and thrive in the digital world.
            </p>
        </div>
    
        <div class="bg-[#f8f8f8] dark:bg-gray-800 border border-gray-500 dark:border-gray-700 shadow-md rounded-r-xl p-5 space-y-4 relative after:absolute after:left-0 after:right-0 after:bottom-0 after:h-full after:w-1 after:bg-gray-500">
            <div class="space-y-2 relative">
                <.icon name="hero-cursor-arrow-ripple" class="size-10 ml-4"/>
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white after:absolute after:left-0 after:right-0 after:bottom-0 after:h-full after:w-2 after:bg-gray-500 ml-4">Why Choose ServiceHub?</h2>
            </div>
    
            <ul class="list-disc pl-6 text-gray-700 dark:text-gray-300 ml-4">
                <li>Wide range of verified services</li>
                <li>Safe and secure transactions</li>
                <li>Real reviews and ratings</li>
                <li>Quick booking and easy management</li>
                <li>Opportunity for providers to grow and earn</li>
            </ul>
        </div>
    </div>
    <div class="bg-white py-20">
        <div class="max-w-5xl mx-auto space-y-4">
            <h2 class="text-4xl font-bold text-center">What We Do</h2>
            <p class="text-lg font-normal text-center text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi repellat voluptatum impedit, nulla perspiciatis quibusdam sequi maxime atque! Tempora, optio temporibus laborum minus praesentium mollitia nemo enim corrupti consectetur molestias odio porro veritatis ea aliquid laboriosam placeat nam consequatur vitae quaerat adipisci ducimus explicabo! Odio ducimus cumque neque aspernatur ea!</p>
        </div>

        <div class="max-w-7xl mx-auto grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-5 py-10">
            <div class="bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-md p-6 hover:scale-102 duration-300">
                <div class="bg-blue-100 w-fit p-2 rounded-md">
                    <.icon name="hero-wrench-screwdriver" class="size-10"/>
                </div>
                <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-2 mt-2">For Service Providers</h2>
                <p class="text-md text-gray-700 dark:text-gray-300 mb-2">
                    Expand your reach, manage your bookings, and grow your business with ease. We help you showcase your services to the right audience and turn your skills into steady income.
                </p>
            </div>

            <div class="bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-md p-6 hover:scale-102 duration-300">
              <div class="bg-blue-100 w-fit p-2 rounded-md">
                <.icon name="hero-users" class="size-10"/>
              </div>
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-2 mt-2">For Customers</h2>
              <p class="text-md text-gray-700 dark:text-gray-300 mb-2">
                Say goodbye to long searches and uncertain pricing. Compare, book, and experience professional services — anytime, anywhere.
              </p>
            </div>

            <div class="bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-md p-6 hover:scale-102 duration-300">
              <div class="bg-blue-100 w-fit p-2 rounded-md">
                <.icon name="hero-newspaper" class="size-10"/>
              </div>
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-2 mt-2">Our Promise</h2>
              <p class="text-md text-gray-700 dark:text-gray-300 mb-2">
                We're committed to building a community built on trust, transparency, and quality. Our platform is designed to ensure a smooth experience for everyone — from first-time users to professional service providers.
              </p>
            </div>

            <div class="bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-md p-6 hover:scale-102 duration-300">
              <div class="bg-blue-100 w-fit p-2 rounded-md">
                <.icon name="hero-puzzle-piece" class="size-10"/>
              </div>
              <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-2 mt-2">Join Us Today</h2>
              <p class="text-md text-gray-700 dark:text-gray-300 mb-2">
                Whether you're looking to offer your services or find one, ServiceHub is the best place to start.
                Sign up today and experience the easiest way to connect with trusted professionals.
              </p>
            </div>
        </div>
    </div>
</section>