<Layouts.flash_group flash={@flash} />
<section class="w-[90%] py-[5%] mx-auto">
  <div class="flex items-center gap-10">
    <div class="w-[50%]">
      <h1 class="md:text-4xl lg:text-4xl xl:text-6xl dark:text-white text-[#121e30] font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      <p class="dark:text-white text-[#2e3a4d] text-lg mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minus similique libero laboriosam, aliquid illo modi voluptate tempore pariatur alias?</p>
      <div class="flex items-center gap-5 mt-5">
        <button class="md:py-2 lg:py-3 md:px-4 lg:px-6 dark:bg-white dark:text-[#2e3a4d] bg-[#2e3a4d] border dark:border-white border-[#2e3a4d] border-2 rounded text-white md:font-normal lg:font-semibold cursor-pointer transition hover:scale-110">Book a Service</button>
        <button class="md:py-2 lg:py-3 md:px-4 lg:px-6 border dark:border-white border-[#2e3a4d] border-2 rounded dark:text-white text-[#2e3a4d] md:font-normal lg:font-semibold cursor-pointer transition hover:scale-110">Provide a Service</button>
      </div>
    </div>
    <div class="w-[50%]">
      <img src="images/customer-service-girl.jpg" alt="Smiling young customer service girl with headset at her workplace" class="mix-blend-darken dark:mix-blend-normal dark:rounded-xl" width="100%">
    </div>
  </div>
</section>