<Layouts.flash_group flash={@flash} />
<section class="w-[90%] py-[5%] mx-auto">
  <div class="flex justify-between items-center gap-10">
    <div class="w-[50%] mt-10">
      <h1 class="text-6xl text-[#121e30] font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ratione.</h1>
      <p class="text-[#2e3a4d] text-lg mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minus similique libero laboriosam, aliquid illo modi voluptate tempore pariatur alias?</p>
      <div class="flex items-center gap-5 mt-5">
        <button class="py-3 px-6 bg-[#2e3a4d] border border-[#2e3a4d] border-2 rounded text-white font-semibold cursor-pointer transition hover:scale-110">Book a Service</button>
        <button class="py-3 px-6 border border-[#2e3a4d] border-2 rounded text-[#2e3a4d] font-semibold cursor-pointer transition hover:scale-110">Provide a Service</button>
      </div>
    </div>
    <div>
      <img src="images/customer-service-girl.jpg" alt="Smiling young customer service girl with headset at her workplace" class="mix-blend-darken" width="800">
    </div>
  </div>
</section>